<!DOCTYPE html>
<html>
<head>
    <title>Stok Uygulaması (Mustache)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-2 has-text-centered">Stok Yönetim Sistemi <span class="tag is-warning is-light">Mustache</span></h1>
            {{{content}}}
        </div>
    </section>
</body>
</html>